<!--<p>angular works!</p>
<button (click)="aumentarEdad()">+</button>
<button (click)="restarEdad()">-</button>
<p [style.background]="age>=18?'green':'red'" [style.color]="'white'">Edad: {{age}}</p>

<div *ngIf="age>=18">
    mayorDeEdad
</div>
<div *ngIf="age<18">
    menorDeEdad
</div>

<hr>
{{names}}
<ul>
    <li *ngFor="let n of names; let i = index">{{i + '=' + n}}</li>
</ul>-->
<p-panel header="primeng/panel">
    <p-table [value]="tutorials">
        <ng-template pTemplate="header">
            <tr>
                <th>Vin</th>
                <th>Year</th>
                <th>Brand</th>
                <th>Color</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr>
                <td>{{car.id}}</td>
                <td>{{car.year}}</td>
                <td>{{car.brand}}</td>
                <td>{{car.color}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>